@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova-regular_0-webfont.eot');
    src: url('../fonts/proximanova-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular_0-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular_0-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular_0-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Date time picker*/
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

/*Date time finish*/

.text-indent {
	text-indent: 10px;
}

.address-line {
	padding-left: 10px;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: proxima_nova_rgregular;
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
}

a {
	color: #aeaeb0;
	text-decoration: none;
}

.cursor {
	cursor: pointer;
}

.signin {
	width: 100%;
	min-height: 100px;
	background-color: #fff;
	display: inline-block;
}

.fb-login {
	background-image: url('../img/fb-login.png');
	background-repeat: no-repeat;
	float: left;
	width: 100%;
	height: 105px;
	cursor: pointer;
}

.header {
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #bdc2ca;
	position: fixed;
}

.empty {
	height: 70px;
}

.header-left {
	width: 20%;
	height: 70px;
	background-color: #f7837b;
}

.title {
	color: #ffffff;
	position: absolute;
	margin-left: 56px;
	margin-top: 20px;
	font-size: 25px;
	font-weight: 700;
}

.header-right {
	width: 80%;
	height: 70px;
	background-color: #ffffff;
}

.search {
	color: #aeaeb0;
	height: 30px;
	border: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	background-color: #f7f7f7;
	background-image: url('../img/new_search.png');
	background-repeat: no-repeat;
	background-position: right;
	font-size: 16px;
	margin: 20px 0px 0px 15px;
	padding-left: 5px;
	padding-right: 50px;
}

.dropdown {
	margin-top: 20px;

}

.ddvalues {
	cursor: pointer;
	color: #ffffff;
	background-color: #f7837b;
	padding: 5px;
	width: 140px;
	height: 30px;
	border: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	background: url('../img/ddarrow.png') no-repeat right 10px center #f7837b;
}

.profile-info {
	margin: 20px 25px 0px 30px;
}

.profile-img {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	vertical-align: middle;
}

.profile-name {
	margin-left: 8px;
	color: #aeaeb0;
}

.right {
	float: right;
}

.left {
	float: left;
}

.inline {
	display: inline-block;
	vertical-align: middle;
}

.navigation-section {
	width: 20%;
	background-color: #2a2d33;
	padding-bottom: 3000px;
	position: fixed;
}

.active {
	background-color: #656c7e;
}

.navigation-pane {
	color: #aeaeb0;
	font-size: 20px;
	padding: 20px;
	display: block;
}

.navigation-img {
	vertical-align: middle;
}

.navigationname {
	margin-left: 15px;
}

.content-section {
	width: 80%;
	text-align: center;
	/*background-color: #ffffff;*/
}

.listheader {
	color: #2a2d33;
	text-align: left;
	padding: 18px;
	border-bottom: 1px solid #bdc2ca;
}

.gridbox {
	width: 25%;
	height: 200px;
	margin: 20px;
	background-color: #ffffff;
	border: 1px solid #bdc2ca;
	border-radius: 5px;
	-moz-webkit-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.shadow {
	box-shadow: 1px 1px 5px 3px #bdc2ca;
	-moz-webkit-box-shadow: 1px 1px 5px 3px #bdc2ca;
	-ms-webkit-box-shadow: 1px 1px 5px 3px #bdc2ca;
	-o-webkit-box-shadow: 1px 1px 5px 3px #bdc2ca;
	-webkit-box-shadow: 1px 1px 5px 3px #bdc2ca;
}

.innergrid {
	margin: 10px;
	background-color: #f7f7f7;
	border: none;
	width: 93%;
	height: 75%;
}

.gridimg {
	width: 100%;
	height: 115px;
}

.gridinfo {
	color: #2a2d33;
}

.views-likes {
	margin: auto 10px;
	color: #2a2d33;
}

h3 {
	text-align: left;
	color: #2a2d33;
}

.catimage {
	width: 100%;
	height: 148px;
}

.content {
	width: 100%;
	height: 100%;
}

.businessheader {
	margin: 0px;
	height: 250px;
	width: 100%;
}

.innerbusiness {
	height: 230px;
	margin: 10px;
	background-color: #ffffff;
	width: 98%;
	border: 1px solid #bdc2ca;
	border-radius: 5px;
	-moz-webkit-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.businesslogo {
	width: 25%;
	height: 210px;
	margin: 10px;
	background-color: #f7f7f7;
	border-radius: 5px;
	-moz-webkit-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.logoimg {
	width: 100%;
	height: 210px;
}

.businessinfo {
	text-align: left;
	color: #2a2d33;
	width: 71%;
	margin: 10px;
	margin-left: 6px;
	height: 210px;
	background-color: #f7f7f7;
	border-radius: 5px;
	-moz-webkit-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.businessoffers {
	margin: 0px;
	width: 100%;
}

.offersgrid {
	height: 300px;
	margin: 10px;
	background-color: #ffffff;
	width: 47%;
	border: 1px solid #bdc2ca;
	border-radius: 5px;
	-moz-webkit-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.contact {
	margin:0px 20px;
}

.img-align {
	vertical-align: middle;
}

.likes-views {
	margin: 0px 20px;
	color: #2a2d33;
}

.button {
	background-color: #2a2d33;
	margin: 0px 20px;
	padding: 5px;
	border-radius: 5px;
	-moz-webkit-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.addbutton {
	background-color: #2a2d33;
	margin: 0px 20px;
	padding: 5px;
	cursor: pointer;
	border: none;
	color: #aeaeb0;
	font-size: 18px;
	border-radius: 5px;
	-moz-webkit-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.offersheader {
	margin: 10px;
	width: 95%;
	height: 40px;
	background-color: #f7f7f7;
	border-radius: 5px;
	-moz-webkit-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.businessinfo-top {
	width: 100%;
	height: 80%;
}

.businessinfo-bottom {
	width: 100%;
	height: 20%;
}

.offer-title {
	margin: 10px;
	margin-right: 0px;
	font-size: 14px;
	font-weight: 600;
}

.editoffer {
	background-color: #2a2d33;
	margin: 5px 15px;
	padding: 5px;
	border-radius: 5px;
	-moz-webkit-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.editimg {
	vertical-align: middle;
	width: 15px;
	height: 15px;
	margin-right: 5px;
}

.imgpart {
	margin: 0px 10px;
}

.offerimg {
	width: 125px;
	height: 100px;
}

.offerdetail {
	margin: 10px;
	height: 115px;
	text-align: left;
	background-color: #f7f7f7;
	border-radius: 5px;
	-moz-webkit-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.block {
	display: block;
}

.dates {
	margin: 10px;
}

.offerdesc {
	margin: 0px 10px;
	font-size: 15px;
	padding: 8px 0px;
}

.categoryheader {
	margin: 0px;
	height: 100px;
	width: 100%;
}

.innercategory {
	height: 80px;
	margin: 10px;
	background-color: #ffffff;
	width: 98%;
	border: 1px solid #bdc2ca;
	border-radius: 5px;
	-moz-webkit-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.categorylogo {
	width: 10%;
	height: 60px;
	margin: 10px;
	background-color: #f7f7f7;
	border-radius: 5px;
	-moz-webkit-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.catimg {
	width: 100%;
	height: 60px;
}

.categoryinfo {
	text-align: left;
	color: #2a2d33;
	width: 86%;
	margin: 10px;
	margin-left: 6px;
	height: 60px;
	background-color: #f7f7f7;
	border-radius: 5px;
	-moz-webkit-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.categoryinfo-top {
	width: 100%;
	height: 100%;
	line-height: 60px;
}

.categoryoffers {
	margin: 0px;
	width: 100%;
}

/*=== Add Category Form Design ===*/
.categoryform {
	width: 100%;
	height: 262px;
	margin: 0px;
}

.formbox-category {
	width: 98%;
	height: 250px;
	margin: 10px;
	background-color: #ffffff;
	border: 1px solid #bdc2ca;
	border-radius: 5px;
	-moz-webkit-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.category-top {
	width: 98%;
	height: 70%;
	margin: 10px;
}

.category-bottom {
	width: 98%;
	height: 18%;
	margin: 10px;
}

.categorydata {
	width: 35%;
	height: 100%;
	text-align: left;
}

.categoryimage {
	width: 64%;
	height: 100%;
	text-align: left;
}

/***Add Category Fineshed***/

/*=== Add Business Form Design ===*/
.businessform {
	width: 100%;
	height: 615px;
	margin: 0px;
}

.formbox-business {
	width: 98%;
	height: 600px;
	margin: 10px;
	background-color: #ffffff;
	border: 1px solid #bdc2ca;
	border-radius: 5px;
	-moz-webkit-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.business-top {
	width: 95%;
	height: 85%;
	margin: 25px;
}

.label {
	margin: 10px 0px;
}

.business-bottom {
	width: 95%;
	height: 5%;
	margin: 25px;
}

.businessdata {
	width: 45%;
	height: 100%;
	text-align: left;
}

.businessimage {
	width: 55%;
	height: 100%;
	text-align: left;
}

.text {
	display: block;
	font-size: 18px;
	text-indent: 5px;
	width: 300px;
	height: 30px;
	margin: 5px 0px;
	background-color: #f7f7f7;
	border: 1px solid #bdc2ca;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
}

.description {
	display: block;
	font-size: 18px;
	text-indent: 5px;
	width: 300px;
	margin: 5px 0px;
	background-color: #f7f7f7;
	border: 1px solid #bdc2ca;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
}

.imgupload {
	display: block;
	margin: 5px 0px;
}

.business-map {
	margin: 10px 0px;
	width: 100%;
	height: 48%;
	border: 1px solid #bdc2ca;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
}

.angular-google-map-container { 
	width: 98%;
	height: 45%;
 }

/***Add Business Fineshed***/

/***Add  Offer Design***/

.offerform {
	width: 100%;
	height: 400px;
	margin: 0px;
}

.formbox-offer {
	width: 98%;
	height: 388px;
	margin: 10px;
	background-color: #ffffff;
	border: 1px solid #bdc2ca;
	border-radius: 5px;
	-moz-webkit-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.offerform-top {
	width: 95%;
	height: 70%;
	margin: 25px;
}

.label {
	margin: 10px 0px;
}

.offerform-bottom {
	width: 95%;
	height: 11%;
	margin: 25px;
}

.offerform-data {
	width: 38%;
	height: 100%;
	text-align: left;
}

.offerform-image {
	width: 60%;
	height: 100%;
	text-align: left;
}

.datetimepicker {
	display: block;
	font-size: 18px;
	text-indent: 2px;
	width: 300px;
	height: 30px;
	margin: 5px 0px;
	background-color: #f7f7f7;
	border: 1px solid #bdc2ca;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	/*-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	background: url('../img/ddarrow.png') no-repeat right 10px center #f7f7f7;*/
}

.dtpicker-buttonCont .dtpicker-button {
	background: #bdc2ca!important;
	
}

.dtpicker-header .dtpicker-value {
	color: #aeaeb0!important;
}

/*** Add offer Finished ***/

/*** Update an Offer ***/
.offerform-update {
	width: 100%;
	height: 362px;
	margin: 0px;
}

.formbox-offer-update {
	width: 98%;
	height: 350px;
	margin: 10px;
	background-color: #ffffff;
	border: 1px solid #bdc2ca;
	border-radius: 5px;
	-moz-webkit-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.offerform-update-top {
	width: 95%;
	height: 70%;
	margin: 25px;
}

.label {
	margin: 10px 0px;
}

.offerform-update-bottom {
	width: 95%;
	height: 8%;
	margin: 25px;
}

.offerform-update-data {
	width: 38%;
	height: 100%;
	text-align: left;
}

.offerform-update-right {
	width: 60%;
	height: 100%;
	text-align: left;
}

/*=== Add City Form Design ===*/
.cityform {
	width: 100%;
	height: 170px;
	margin: 0px;
}

.formbox-city {
	width: 98%;
	height: 158px;
	margin: 10px;
	background-color: #ffffff;
	border: 1px solid #bdc2ca;
	border-radius: 5px;
	-moz-webkit-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.city-top {
	width: 98%;
	height: 50%;
	margin: 10px;
}

.city-bottom {
	width: 98%;
	height: 30%;
	margin: 10px;
}

.citydata {
	width: 45%;
	height: 100%;
	text-align: left;
}

/***Add City Fineshed***/