<div class="container">
	<header></header>
	<section class="navigation-section left">
		<navigation></navigation>
	</section>
	<section class="content-section right">
		<div class="listheader">
			<h1 class="inline">Add New Offer</h1>					
		</div>
		<div class="offerform">
			<div class="formbox-offer">
				<div class="offerform-top">
					<div class="offerform-data left">
						<label class="label">Offer Title:</label>
						<input type="text" class="text" ng-model="title" id="title">
						<label class="label">Description:</label>
						<textarea rows="4" cols="50" class="description" ng-model="description" id="desc">
						</textarea>
						<label class="label">Business Id:</label>
						<input type="text" class="text" ng-model="bizId" id="bizId" readonly="readonly">						
					</div>
					<div class="offerform-image right">
						<label class="label">Radius:</label>
						<input type="text" class="text" ng-model="radius" id="radius">						 
						<label class="label">Offer Image:</label>
						<input type="file" name="offerpicture" accept="image/*" class="imgupload" id="image" ng-model="image" onchange="angular.element($('#image')).scope().uploadImage(files)" />
						<label class="label">Start Date:</label>
						<input class="startDateTime1 datetimepicker" type="text" ng-model="startDate" id="startDate" data-field="datetime" data-view="Dropdown" data-startend="start" data-startendelem=".endDateTime1" readonly="readonly">
						<!-- <div id="selector"></div> -->
						<!-- <input type="datetime-local" ng-model="startDate" id="startDate" class="datetimepicker"> -->
						<label class="label">End Date:</label>
						<input class="endDateTime1 datetimepicker" type="text" ng-model="endDate" id="endDate" data-field="datetime" data-view="Dropdown" data-startend="end" data-startendelem=".startDateTime1" readonly="readonly">
						<!-- <div id="selector"></div> -->
						<!-- <input type="datetime-local" ng-model="endDate" id="endDate" class="datetimepicker"> -->
					</div>					
				</div>
				<div class="offerform-bottom">
					<button class="addbutton" ng-click="addOffer()">
						Add Offer
					</button>					
				</div>
			</div>
		</div>		
	</section>
</div>