<div class="container">
	<header></header>
	<section class="navigation-section left">
		<navigation></navigation>
	</section>
	<section class="content-section right">
		<div class="listheader">
			<h1 class="inline">Add New Category</h1>					
		</div>
		<div class="categoryform">
			<div class="formbox-category">
				<div class="category-top">
					<div class="categorydata left">
						<label class="label">Category Id:</label>
						<input type="text" class="text" ng-model="catId" id="catId" readonly>
						<label class="label">Category Name:</label>
						<input type="text" class="text" ng-model="catName" id="catName">
					</div>
					<div class="categoryimage right">
						<label class="label">Logo:</label>
						<input type="file" name="catlogopicture" accept="image/*" class="imgupload" id="catlogo" ng-model="catImage" onchange="angular.element($('#catlogo')).scope().uploadLogo(files)" />
					</div>
				</div>
				<div class="category-bottom">
					<button class="addbutton" ng-click="addCategory()">
						Add New Category
					</button>
				</div>
			</div>
		</div>		
	</section>
</div>