<div class="container">
	<header></header>
	<section class="navigation-section left">
		<navigation></navigation>
	</section>
	<section class="content-section right">
		<div class="listheader">
			<h1 class="inline">Add New City</h1>					
		</div>
		<div class="cityform">
			<div class="formbox-city">
				<div class="city-top">
					<div class="citydata left">
						<label class="label">City Id:</label>
						<input type="text" class="text" ng-model="cityId" id="cityId" readonly>					
					</div>
					<div class="citydata inline">
						<label class="label">City Name:</label>
						<input type="text" class="text" ng-model="cityName" id="cityName">
					</div>					
				</div>
				<div class="city-bottom">
					<button class="addbutton" ng-click="addCity()">
						Add New City
					</button>
				</div>
			</div>
		</div>		
	</section>
</div>