<div class="container">
	<header></header>
	<section class="navigation-section left">
		<navigation></navigation>
	</section>
	<section class="content-section right">
		<div class="content">
			<div class="businessheader inline">
				<div class="innerbusiness shadow">
					<div class="businesslogo left">
						<img data-ng-src="{{currentBusinessLogo}}" class="logoimg">
					</div>
					<div class="businessinfo right">
						<div class="businessinfo-top">
							<h1 class="text-indent">{{currentBusinessName}}</h1>
							<span class="address-line">{{currentAddressLine1}},</span>
							<span>{{currentAddressLine2}}</span>
							<h4 class="text-indent">{{currentBusinessDescription}}</h4>
						</div>
						<div class="businessinfo-bottom">
							<span class="contact">
								<img src="img/contact.png" class="img-align">
								{{currentBusinessPhoneNumber}}
							</span>
							<span class="likes-views">
								<img src="img/views.png" alt="views image">
								{{currentBusinessViews}}						
							</span>
							<span class="likes-views">
								<img src="img/likes.png" alt="likes image">
								{{currentBusinessLikes}}
							</span>
							<a href="#/update_business/{{businessID}}" class="button right">
								Update Business
							</a>							
							<a href="#/add_Offer/{{businessID}}" class="button right">
								Add New Offer
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="businessoffers">
				<div class="offersgrid inline shadow" ng-repeat="offers in businesses">
					<div class="offersheader">
						<span class="offer-title left">{{offers.title}}</span>
						<a href="#/update_Offer/{{offers.offerId}}" class="editoffer right">
							<img src="img/editicon.png" class="editimg">
							Edit
						</a>
					</div>
					<div class="imgpart">
						<img data-ng-src="{{offers.imageUrl}}" class="offerimg" alt="No Image">
					</div>
					<div class="offerdetail">
						<h3 class="offerdesc">{{offers.description}}</h3>
						<div class="dates">
							<span class="block"><strong>Start Date:</strong>{{offers.startDate}}</span>
							<span class="block"><strong>End Date:</strong>{{offers.endDate}}</span>
						</div>
						<div class="right">
							<span class="likes-views">
								<img src="img/views.png" alt="views image">
								{{offers.views}}						
							</span>
							<span class="likes-views">
								<img src="img/likes.png" alt="likes image">
								{{offers.likes}}
							</span>
						</div>
					</div>
				</div>
				<!-- <div class="offersgrid inline shadow">
					<div class="offersheader">
						<span class="offer-title left">Offer Title</span>
						<a href="#" class="editoffer right">
							<img src="img/editicon.png" class="editimg">
							Edit
						</a>
					</div>
					<div class="imgpart">
						<img src="img/srulogo.png" class="offerimg">
					</div>
					<div class="offerdetail">
						<h3 class="offerdesc">Offer Description</h3>
						<div class="dates">
							<span class="block">Start Date:</span>
							<span class="block">End Date:</span>
						</div>
						<div class="right">
							<span class="likes-views">
								<img src="img/views.png" alt="views image">
								0						
							</span>
							<span class="likes-views">
								<img src="img/likes.png" alt="likes image">
								0
							</span>
						</div>
					</div>
				</div> -->
			</div>
		</div>				
	</section>
</div>
