<div class="container">
	<header></header>
	<section class="navigation-section left">
		<navigation></navigation>
	</section>
	<section class="content-section right">
		<div class="listheader">
			<h1 class="inline">Business List</h1>
			<a href="#/add_business" class="button right">
				Add New Business
			</a>		
		</div>
		<div class="gridbox inline shadow" ng-repeat="business in businesses">
			<a href="#/business_list/{{business.bizId}}">
				<div class="innergrid">
					<img data-ng-src="{{business.logoUrl}}" class="gridimg" alt="No Image">
					<h3 class="text-indent">
						{{business.bizName}}
					</h3>
				</div>
				<div class="girdinfo">				
					<span class="views-likes">
						<img src="img/views.png" alt="views image">
						{{business.views}}
					</span>
					<span class="views-likes">
						<img src="img/likes.png" alt="likes image">
						{{business.likes}}
					</span>
				</div>
			</a>
		</div>		
	</section>
</div>
