<div class="header">
	<div class="header-left inline left">
		<span class="title">GROKAL</span>
	</div>
	<div class="inline right header-right">
		<input type="text" class="search left" placeholder="Search">
		<div class="inline profile-info right">
			<a href="#">
				<span><img src="img/profile.png" class="profile-img"></span><span class="profile-name">Andrew</span>
			</a>
		</div>
		<!-- <div class="dropdown inline right">
			<select class="ddvalues">
				<option class="cursor">Create New</option>
				<option>Category</option>
				<option>City</option>
				<option>Offer</option>
				<option>Business</option>
			</select>
		</div> -->
	</div>
</div>
<div class="empty">
	
</div>