<a href="#" class="navigation-pane" ng-class='{"active": tog==1}' ng-click="tog=1">
	<img src="img/home.png" class="navigation-img">
	<span class="navigationname">Dashboard</span>
</a>
<a href="#" class="navigation-pane" ng-class='{"active": tog==2}' ng-click="tog=2">
	<img src="img/category.png" class="navigation-img">
	<span class="navigationname">Category</span>
</a>
<a href="#/add_city" class="navigation-pane" ng-class='{"active": tog==3}' ng-click="tog=3">
	<img src="img/city.png" class="navigation-img">
	<span class="navigationname">City</span>
</a>
<a href="#/offers_list" class="navigation-pane" ng-class='{"active": tog==4}' ng-click="tog=4">
	<img src="img/offer.png" class="navigation-img">
	<span class="navigationname">Offers</span>
</a>
<a href="#/business_list" class="navigation-pane" ng-class='{"active": tog==5}' ng-click="tog=5">
	<img src="img/business.png" class="navigation-img">
	<span class="navigationname">Business</span>
</a>
<a href="#" class="navigation-pane" ng-class='{"active": tog==6}' ng-click="tog=6">
	<img src="img/business.png" class="navigation-img">
	<span class="navigationname">Log out</span>
</a>

