<div class="container">
	<header></header>
	<section class="navigation-section left">
		<navigation></navigation>
	</section>
	<section class="content-section right">
		<div class="listheader">
			<h1 class="inline">Offers List</h1>
			<a href="#/add_category" class="button right">
				Add New Category
			</a>		
		</div>
		<a href="#/offers_list/{{category.catId}}" class="gridbox inline shadow" ng-repeat="category in categories">
			<div class="innergrid">
				<img data-ng-src="{{category.catImage}}" class="catimage" alt="No Image">			
			</div>
			<div class="girdinfo">
				<h3 class="inline">
					{{category.catName}}
				</h3>
			</div>
		</a>
	</section>
</div>