<div class="container">
	<header></header>
	<section class="navigation-section left">
		<navigation></navigation>
	</section>
	<section class="content-section right">
		<div class="content">
			<div class="categoryheader inline">
				<div class="innercategory shadow">
					<div class="categorylogo left">
						<img data-ng-src="{{currentCatImage}}" class="catimg" alt="No Image">
					</div>
					<div class="categoryinfo right">
						<div class="categoryinfo-top">
							<h1 class="text-indent">{{currentCatName}}</h1>							
						</div>
					</div>
				</div>
			</div>
			<div class="categoryoffers">
				<div class="offersgrid inline shadow">
					<div class="offersheader">
						<span class="offer-title left">Offer Title Offer Title Offer Title Offer Title</span>
						<a href="#" class="editoffer right">
							<img src="img/editicon.png" class="editimg">
							Edit
						</a>
					</div>
					<div class="imgpart">
						<img src="img/srulogo.png" class="offerimg">
					</div>
					<div class="offerdetail">
						<h3 class="offerdesc">Offer Description Offer Description Offer Description Offer Description</h3>
						<div class="dates">
							<span class="block">Start Date:</span>
							<span class="block">End Date:</span>
						</div>
						<div class="right">
							<span class="likes-views">
								<img src="img/views.png" alt="views image">
								0						
							</span>
							<span class="likes-views">
								<img src="img/likes.png" alt="likes image">
								0
							</span>
						</div>
					</div>
				</div>
				<div class="offersgrid inline shadow">
					<div class="offersheader">
						<span class="offer-title left">Offer Title</span>
						<a href="#" class="editoffer right">
							<img src="img/editicon.png" class="editimg">
							Edit
						</a>
					</div>
					<div class="imgpart">
						<img src="img/srulogo.png" class="offerimg">
					</div>
					<div class="offerdetail">
						<h3 class="offerdesc">Offer Description</h3>
						<div class="dates">
							<span class="block">Start Date:</span>
							<span class="block">End Date:</span>
						</div>
						<div class="right">
							<span class="likes-views">
								<img src="img/views.png" alt="views image">
								0						
							</span>
							<span class="likes-views">
								<img src="img/likes.png" alt="likes image">
								0
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>				
	</section>
</div>
