<div class="container">
	<header></header>
	<section class="navigation-section left">
		<navigation></navigation>
	</section>
	<section class="content-section right">
		<div class="listheader">
			<h1 class="inline">Updating the Offer</h1>					
		</div>
		<div class="offerform-update">
			<div class="formbox-offer-update">
				<div class="offerform-update-top">
					<div class="offerform-update-data left">
						<label class="label">Offer Title:</label>
						<input type="text" class="text" ng-model="title" id="title">
						<label class="label">Description:</label>
						<textarea rows="4" cols="50" class="description" ng-model="description" id="desc">
						</textarea>
						<label class="label">Business Id:</label>
						<input type="text" class="text" ng-model="bizId" id="bizId" readonly="readonly">
					</div>
					<div class="offerform-update-right right">
						<label class="label">Radius:</label>
						<input type="text" class="text" ng-model="radius" id="radius">
						<label class="label">Start Date:</label>
						<input class="startDateTime1 datetimepicker" type="text" ng-model="startDate" id="startDate" data-field="datetime" data-view="Dropdown" data-startend="start" data-startendelem=".endDateTime1">
						<div id="dtBox"></div>						
						<label class="label">End Date:</label>
						<input class="endDateTime1 datetimepicker" type="text" ng-model="endDate" id="endDate" data-field="datetime" data-view="Dropdown" data-startend="end" data-startendelem=".startDateTime1">
						<div id="dtBox"></div>						
					</div>					
				</div>
				<div class="offerform-update-bottom">
					<button class="addbutton" ng-click="updateOffer()">
						Update Offer
					</button>					
				</div>
			</div>
		</div>		
	</section>
</div>