<div class="container">
	<header></header>
	<section class="navigation-section left">
		<navigation></navigation>
	</section>
	<section class="content-section right">
		<div class="listheader">
			<h1 class="inline">Update the {{bizName}}</h1>					
		</div>
		<div class="businessform">
			<div class="formbox-business">
				<div class="business-top">
					<div class="businessdata left">
						<label class="label">Business Name:</label>
						<input type="text" class="text" ng-model="bizName" id="bizName">
						<label class="label">Description:</label>
						<textarea rows="4" cols="50" class="description" ng-model="description" id="desc">
						</textarea>
						<label class="label">Category:</label>
						<!-- <input type="text" class="text" ng-model="category" id="cat"> -->
						<select class="text" ng-model="category" id="cat" ng-options="categories.catName for categories in catList">
							 <option value="">-- Choose Category --</option>
						</select>
						<label class="label">Phone Number:</label>
						<input type="text" class="text" ng-model="phoneNumber" id="phoneNumber">
						<label class="label">Address Line 1:</label>
						<input type="text" class="text" ng-model="line1" id="line1">
						<label class="label">Address Line 2:</label>
						<input type="text" class="text" ng-model="line2" id="line2">
						<label class="label">City:</label>
						<!-- <input type="text" class="text" ng-model="city" id="city"> -->
						<select id="city" class="text" ng-model="city" ng-options="cities.cityName for cities in cityList">
							 <option value="">-- Choose City --</option>
						</select>
					</div>
					<div class="businessimage right">						 
						<label class="label">Logo:</label>
						<input type="file" name="logopicture" accept="image/*" class="imgupload" id="logo" ng-model="logo" onchange="angular.element($('#logo')).scope().uploadLogo(files)" />
						<label class="label">Images:</label>
						<input type="file" name="picture" accept="image/*" class="imgupload" id="images" ng-model="images" onchange="angular.element($('#images')).scope().uploadImages(files)" multiple/>
						<label class="label">Latitude:</label>
						<input type="text" class="text" ng-model="Lat" id="latFld">
						<label class="label">Longitude:</label>
						<input type="text" class="text" ng-model="Lng" id="lngFld">
						<div class="business-map" id="mymap">
							
						</div>
					</div>					
				</div>
				<div class="business-bottom">
					<button class="addbutton" ng-click="updateBusiness()">
						Update Business
					</button>					
				</div>
			</div>
		</div>		
	</section>
</div>